<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div>
        <p>Hello World</p>
    </div>

    <div id="app">
        
        {{ message }}
        {{ myName  }}
    </div>

    <div>
        <p>use v -bind</p>
    </div>

    <div id="app2">
        <a v-bind:href="googleLink">{{ googleName }}</a>   
    </div>

    <div>
        <p>v onclick</p>
    </div>

    <div id="app3">
        <button v-on:click="count++">  {{ count }}</button>
    </div>

    <div>
        <p>v model</p>
    </div>

    <div id="app4">
        <input type="number" v-model="number1">
        +
        <input type="number" v-model="number2">
        =
        <span>{{ add }}</span>
        <button v-on:click = "add">Process</button>
    </div>

</body>

<script>
    var app = new Vue({
        el : '#app',
        data : {
            message : 'Hello Vue!',
            myName : 'Felidas',
            showheader : 'Hello World'
        }
    });

    new Vue ({
        el : '#app2',
        data : {
            googleName : 'Google',
            googleLink : 'https://www.google.com'
        }
    })

    new Vue({
        el : '#app3',
        data : {
            count : 0
        }
    })

    new Vue({
        el : '#app4',
        data : {
            number1 : 0,
            number2 : 0,
            result: 0
        },
        //methods: {
        //    add:function(){
        //       this.result =parseInt(this.number1)+parseInt(this.number2);
        //  }
        // },
        computed: {
            add:function(){
                return parseInt(this.number1)+parseInt(this.number2);
            }
        }
    })
    
    

</script>


</html>