<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="boom-button">
        <button @click="boomClick" style="width: 25px; height: 25px">{{boomvalue}}</button>
    </div>
    <div id="boom-button1">
        <button @click="boomClick" style="width: 25px; height: 25px">{{boomvalue}}</button>
    </div>
    
</body>

<script>
    var boomButton = new Vue({
        el:'#boom-button',
        data:{
            boomvalue: '-',
            hidevalue:'*' // *,-
        },
        methods: {
            boomClick:function(){
                if(this.hidevalue == '-') return;
                this.boomvalue = this.hidevalue;
            }
        },
        computed: {
            
        },
    });

    var boomButton1 = new Vue({
        el:'#boom-button1',
        data:{
            boomvalue: '-',
            hidevalue:'-' // *,-
        },
        methods: {
            boomClick:function(){
                if(this.hidevalue == '-') return;
                this.boomvalue = this.hidevalue;
            }
        },
        computed: {
            
        },
    });
</script>

</html>